// Colors

$red: #fa5c5d;
$white: #ffffff;
$beige: #f6f6eb;
$gray: #404244;
$black: #111;

// Fonts

$baseFontSize: 16px;
$baseFontFam: 'Open Sans', sans-serif;
$headerFontFam: 'Playfair Display', serif;

